
.triangle-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
    position: relative;
    left: 11%;
    transition: 200ms ease border;
    z-index: 5;
}

.logout.dropdown-menu {
    min-width: 7rem !important;
    margin-top: 0;
}

#logout-dropdown-menu-container {
    min-width: 7rem !important;
    vertical-align: center;
}

#logout-icon-container {
    height: 100%;
    float: right;
    margin-right: 0.45rem;
}

.button.login {
    font-size: 0.85rem !important;
    padding: 0 1rem 0 1rem;
    margin-right: 1rem;
}
