.env
.vscode
.idea/
.DS_Store
*.pyc
__pycache__/
.coverage
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/*/build/
PennCourses/settings/static/
*.sqlite3
*-test.json
celerybeat-schedule
pcr-backup*

frontend/*/src/components/shared
