.env*
.vscode
.idea/
.DS_Store
*.pyc
__pycache__/
.coverage
.log
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/*/build/
frontend/*/.next
backend/PennCourses/settings/static/
*.sql
*.sqlite3
*.sqlite3-journal
postgres
*-test.json
celerybeat-schedule
pcr-backup*
./Pipfile
./Pipfile.lock
./package.json
./yarn.lock
.tool-versions
.Pipfile
.Pipfile.lock