[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.4"
mysqlclient = "*"
requests = "*"
twilio = "*"
phonenumbers = "*"
django-extensions = "*"
celery = "*"
redis = ">=3.2.0"
sentry-sdk = "*"
dj-database-url = "*"
django-celery-beat = "*"
django-celery-results = "*"
gunicorn = "*"
whitenoise = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
unidecode = "*"
coreapi = "*"
django-filter = "*"
shortener = "*"
django-labs-accounts = "*"
"beautifulsoup4" = "*"
ipython = "*"
django-auto-prefetching = "*"
django-cors-headers = "*"
django-runtime-options = "*"

[dev-packages]
codecov = "*"
unittest-xml-reporting = "*"
coverage = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"

[requires]
python_version = "3"
