.schedule {
    display: grid;
    height: 100%;
    margin-right: 20px;
    column-gap: 0;
    position: relative;

    background-color: white;
    font-family: 'Nunito';
}
.block {
    /*border-radius: 5px;*/
    margin-bottom: 0 !important;
    color: black;
    border-left: 4px solid;

    background-color:#FAFAFA;
    box-shadow:0 1px 3px 0 lightgrey;
    /* padding: 10px; */
}

.day {
    font-weight: bolder;
    font-size: 1.25em;
}

.inner-block {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.inner-block > span {
    cursor: pointer;
}

.inner-block > .remove {
    position: absolute;
    top: 2px;
    left: 4px;
    opacity: 0;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
}

.inner-block:hover > .remove {
    opacity: 1;
}

.hide {
    display: none;
}

.warning {
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 1em;
}

.time {
    position: absolute;
    top: -6px;
}

span.horizontalLine {
    border-top: 1px solid gray;
    opacity: .5;
    /*left: -5px;*/
    /*width: calc(100% + 10px);*/
}

span.horizontalLine-last {
    border-bottom: 1px solid gray;
    opacity: .5;
    /*left: -5px;*/
    /*width: calc(100% + 10px);*/
}

span.verticalLine {
    border-left: 1px solid gray;
    opacity: .5;
    /*left: -5px;*/
}
span.verticalLine-last {
    border-right: 1px solid gray;
    opacity: .5;
    /*right: -5px;*/
}