# Docker
Dockerfile
Dockerfile.dev
.dockerignore

# git
.circleci
.git
.gitignore
.gitmodules
.env
**/*.md
LICENSE

# Misc
.coverage
**/__pycache__/
tests/
*.sqlite3
postgres/
.venv

# Dev
.vscode

# MacOS
.DS_Store

# PCX
pcr-backup
