[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
codecov = "*"
coverage = "*"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
isort = "*"
flake8-quotes = "*"
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"
black = "==21.12b0"

[packages]
click = "==8.0.4"
django = ">=3.2"
psycopg2 = "*"
requests = "*"
twilio = "*"
phonenumbers = "*"
celery = "<5"
redis = ">=3.4.1"
sentry-sdk = "*"
dj-database-url = "*"
djangorestframework = "*"
unidecode = "*"
coreapi = "*"
django-filter = "*"
shortener = "*"
django-labs-accounts = "*"
"beautifulsoup4" = "*"
ipython = "*"
django-auto-prefetching = "*"
django-cors-headers = "*"
django-runtime-options = "*"
pyyaml = "*"
uritemplate = "*"
uwsgi = {version = "*", sys_platform = "== 'linux'"}
ddt = "*"
lark-parser = "*"
tqdm = "*"
"boto3" = "*"
nose = "*"
importlib-metadata = "*"
django-redis = "*"
jsonref = "*"
tblib = "*"
django-extensions = "*"
numpy = "*"
scikit-learn = "*"
pandas = "*"
python-dateutil = "*"
jellyfish = "*"
matplotlib = "*"
jupyter = "*"
docutils = "*"

[requires]
python_full_version = "3.10"
