[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
codecov = "*"
coverage = "*"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
isort = "*"
flake8-quotes = "*"
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"
black = "==19.10b0"

[packages]
django = "==3.2b1"
psycopg2 = {version = "*", sys_platform = "== 'linux'"}
requests = "*"
twilio = "*"
phonenumbers = "*"
celery = "<5"
redis = ">=3.4.1"
sentry-sdk = "*"
dj-database-url = "*"
djangorestframework = "*"
unidecode = "*"
coreapi = "*"
django-filter = "*"
shortener = "*"
django-labs-accounts = "*"
"beautifulsoup4" = "*"
ipython = "*"
django-auto-prefetching = "*"
django-cors-headers = "*"
django-runtime-options = "*"
pyyaml = "*"
uritemplate = "*"
uwsgi = {version = "*", sys_platform = "== 'linux'"}
ddt = "*"
lark-parser = "*"
tqdm = "*"
"boto3" = "*"
nose = "*"
importlib-metadata = "*"
django-redis = "*"
jsonref = "*"
tblib = "*"
django-extensions = "*"
pandas = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
