[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
codecov = "*"
coverage = "*"
black = "==19.10b0"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[packages]
mysqlclient = "*"
requests = "*"
twilio = "*"
phonenumbers = "*"
django-extensions = "*"
celery = "*"
redis = ">=3.4.1"
sentry-sdk = "*"
dj-database-url = "*"
djangorestframework = "*"
unidecode = "*"
coreapi = "*"
django-filter = "*"
shortener = "*"
django-labs-accounts = "*"
"beautifulsoup4" = "*"
ipython = "*"
django-auto-prefetching = "*"
django-cors-headers = "*"
django-runtime-options = "*"
pyyaml = "*"
uritemplate = "*"
uwsgi = "*"
ddt = "*"
lark-parser = "*"
tqdm = "*"
"boto3" = "*"
nose = "*"
importlib-metadata = "*"
django = "*"
textwrap = "*"

[requires]
python_version = "3"
