<!DOCTYPE html>
<html lang="en">

<div style="width: 100%; background-color: white; margin: 0 auto; max-width: 600px; padding: 15px; font-family: Helvetica, Arial, sans-serif; overflow-x: hidden;">
    <a href="//penncoursealert.com">
        <img src="https://penncoursealert.com/assets/pca/PCA_logo.png" alt="Penn Course Alert Logo" style="width: 40px" />
    </a>
    <div style="text-align: center;">
        <h1 style="margin-bottom: 1.5em;">{{ course }} just {% block course_event %}<span style="color:#78D381;">opened up</span>!{% endblock %}</h1>
        <p>
            {% block email_body %}
            <a href="http://bit.ly/pathpenn" style="cursor: pointer; border-width: 0; text-decoration: none; padding: 10px 25px; font-size: 1.2em; margin-top: 20px; color: white; background-color: #3eaa6d; border-radius: 5px; font-weight: bold">
                Register now on Path@Penn
            </a> {% endblock %}
        </p>

        <p style="padding-top: 1em; font-size: 1.2em;">
            {% if auto_resubscribe %}
            <span>Don't need more alerts?</span>
            <a href="https://penncoursealert.com/?route=manage" style="cursor: pointer; border-width: 0; text-decoration: none; padding: 10px 25px; margin-top: 20px; color: white; background-color: #f66f63; border-radius: 5px;">
                 Cancel here
            </a> {% else %}
            <span>Unlucky?</span>
            <a href="https://penncoursealert.com/?route=manage" style="cursor: pointer; border-width: 0; text-decoration: none; padding: 10px 25px; margin-top: 20px; color: white; background-color: #209cee; border-radius: 5px;">
                 Resubscribe here
            </a> {% endif %}
        </p>
    </div>

    <div style="text-align: center; margin-top: 2em;">
        Made with <span style="color: red">&hearts;</span> by <a href="https://pennlabs.org/">Penn Labs</a>
    </div>
</div>