html {
  font-size: calc(100vw/90);
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  min-width: 1000px;
  background-color: #ECECEC;
  height:100%;
  margin: 0;
}

.button{
  border-radius: 30px!important;
}

::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #95a5a6;
  border-radius: 1px;
}

i {
  cursor: pointer;
}

.nav-header {
  font-size: 1.5em;
  font-weight: bold;
}

#byline {
  text-align: right;
  margin-right: 3em;
}

#byline span.txt{
  vertical-align: middle;
  display: inline-block;
  padding-top: .5em;
}

#MenuBar {
  text-align: right;
  height: 2em;
  width: 14em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F2F2F2;
  border-bottom-left-radius: 1.5em;
  color: black;
  line-height: 2em;
}

#MenuBar > a {
  margin-right: 1em;
  text-decoration: none;
  color: black;
}

h1 {
  margin: 1em 0 0 0;
}

select {
  font-size:  0.75em;
}

#schedSelect,
#LoadingInfo {
  margin-left: 1em;
}

form > input[type="text"] {
  border-radius: .3em;
  padding: 0.4em;
  font-size: .75em;
  margin: 4px;
  background-color: #f5f5f5;
}

#CSearch {
  width: 100%;
  min-width: 17rem;
  padding:0.5rem;
  background-color: white;
}

#searchbar .level-left > *, #searchbar .level-right > *{
  margin-left:0.5rem;
  margin-right:0.5rem;
}

#searchbar button{
  min-width:8rem;
}

.is-active i.fa.fa-angle-down::before{
  content:"\f106"!important;
}

footer:hover i.fa.fa-angle-up::before{
  content:"\f107"!important;
}

/*#loaderWrap {height: 30px; width: 30px; display: inline-block; vertical-align: middle;}
.loader {
	height: 30px;
	width: 30px;
	text-align: center;
	margin: 0 auto .2em;
	margin-left: 2em;
	display: none;
	vertical-align: middle;
}*/

.spinner {
  /*  margin: 50px;
  height: 28px;
  width: 28px;*/
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  vertical-align: middle;
  margin-left: 2em;
  animation: rotate 0.8s infinite linear;
  border: 0.1875em solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.hide {
  opacity: 0;
  /*visibility: hidden;*/
}

#CourseHeader {
  overflow: hidden;
  height: 1.5em;
}

#CourseList,
#SectionCol {
  height: calc(100vh - 16em);
  box-sizing: border-box;
  list-style-type: none;
  background-color: white;
  font-size: 0.75em;
  text-align: left;
  border-radius: .375em;
}

#CourseList {
  text-align: left;
  margin-right: 1em;
}
#CourseList > ul {
  overflow-y: scroll;
  height: calc(100% - 2.5em);
}

#SectionCol {
  border-top-right-radius: .375em;
}

#Sections,
#SectionInfo {
  padding-left: 0.5em;
}

#Sections {
  height: 30%;
  border-top-right-radius: .375em;
  text-align: center;
  overflow-y:hidden;
}

#SectionList {
  height: calc(100% - 2em);
  overflow-y: scroll;
}
.sectionText {
  /*display: inline-block;*/
  height: 1.5em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hideSec {
  opacity: 0.4;
  /* background-color: #E6E6E6; */
}

#SectionInfo {
  height: 65%;
  /* width: 25.3em; */
  overflow-y: scroll;
  /*padding-right: 0.5em;*/
  border-top: 1em solid white;
  /* box-sizing: border-box; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#CourseList li {
  padding: 0.125em 1em .125em 6.5em;
  text-indent: -6.25em;
}

#CourseList li:first-child{
  margin-top:0.35rem;
}

#SectionList li,
#SectionInfo li {
  padding: 0.125em 0.5em 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#CourseList li,
.sectionText,
#SectionInfo li {
  cursor: pointer;
}

#sortCourses {
  width: 40%;
}

#CourseList li:hover,
#SectionList li:hover,
#SectionInfo li:hover,
.activeItem {
  background-color: #E6E6E6;
}

#CourseList li:active,
#SectionList li:active,
#SectionInfo li:active {
  background-color: #CCCCCC;
}

#SectionList i:nth-child(1):active {
  color: #00B3FF;
}

/* .statusClass { */
  /* display: inline-block; */
  /* width: 1.5em; */
  /* height: 1.5em; */
  /* vertical-align: top; */
  /* padding-top: 1px; */
  /* margin-left: 2px; */
  /* margin-top: 0.15em; */
  /* text-align: center; */
  /* line-height: 13px; */
  /* border-radius: 2px; */
  /* -webkit-font-smoothing: antialiased; */
/* }  */

/* .openSec {
  background-color: #47EA4C;
} */

.closedSec {
  background-color: transparent;
}

.errorSec {
  background-color: #E6E6E6;
}

.PCRSec {
  background-color: #1f8dd6;
}

.PCR {
  vertical-align: top;
  color: white;
  width: 2.5em;
  /* height: 1.5em; */
  text-indent: 0;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  /* margin-top: 3px; */
  margin-left: 2px;
  margin-right: 2px;
}

.fa-plus, .fa-times {vertical-align: text-top}
.fa-star,
.fa-star-o {
  float: right;
  font-size: 1.25em;
  line-height: 1.25em;
  color: #01256e;
}

.fa-envelope {
  color: white;
  font-size: 1em;
  /*margin: auto;*/
  /*text-align: center;*/
  /*line-height: 8px;*/
  /*margin-bottom: 3px;*/
}

#InfoPanel .box{
  width: 95%;
}

#FilterSearch {
  overflow: hidden;
  font-size: 1em;
  min-width: 500px;
  opacity:0;
  max-width:60%;
  min-height: 12.5rem;
  max-height:50%;
  position:fixed;
  visibility:hidden;
  margin-bottom: 1em;
  /*display: none;*/
  background-color: white;
  border-radius: 5px;
  vertical-align: top;
  transition: opacity 250ms ease;
  padding:0.5rem!important;
}

#filter_search_toggler{
  background-size: 100% 100%;
  width:1.3rem;
  height:1.3rem;
  cursor:pointer;
}

.FilterPanel {
  height: 100%;
  width: 40%;
  background-color: white;
  float: left;
  display: inline-block;
  vertical-align: top;
}

.FilterBlock {
  box-sizing: border-box;
  text-align: left;
  text-indent: 2em;
  line-height: 2.5em;
  margin-bottom: 1em;
  overflow: hidden;
}

.FilterBlock > input {
  margin: 0 1em 0 .5em;
}

#reqFilter {
  line-height: 1.25em;
  text-indent: 0;
  padding-left: 1em;
  margin-bottom: 3px;
  overflow-y: scroll;
}

#reqFilter > span {
  display: inline-block;
  float: left;
  width: 50%;
}

#reqTypes {
  width: 100%;
  margin-bottom: 3px;
  cursor: pointer;
}

#reqTypes > span {
  display: inline-block;
  width:33.33333333%;
  float:left;
  text-align: center;
  text-indent: 0;
  /* margin: 0 auto; */
  /* 	background-color: #3498db;
      color: white; */
  font-size: 1.25em;
  flex-basis: 100%;
  cursor: pointer;
  border: 3px solid white;
  box-sizing: border-box;
}

.schoolSelected {
  background-color: #3498db;
  color: white;
}

#SchedGraph {
  height: 100%;
  min-height: 350px;
  min-width: 500px;
  overflow: hidden;
  /*padding: 0 1em 0 1em;*/
  font-size: 1em;
}

#InfoPanel {
  padding:0!important;
  height: calc(100vh - 16em);
  /*min-width: 500px;*/
  width: calc(100% - 58.5em);
  font-size: .75em;
  display: inline-block;
}

#TimeCol,
#Schedule {
  height: 100%;
  background-color: white;
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  min-height: 300px;
}


.box{
  border-radius:3px;
  background:white;
  border: 1px solid lightgrey;
  margin: 10px;
}

.box.column{
  /*styles the columns for lists of sections and lists of courses*/
}

#courses_and_sections{
  /*Styles column set with courses and sections lists*/
  padding-left:20px;
}

/*
#Schedule > span {
	font-size: 1.5em;
	line-height: 15em;
}*/

#TimeCol {
  width: 5%;
  margin-right: -.25em;
  padding-right: .5em;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  line-height: 1.25em;
}

#Schedule {
  width: 90%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TimeBlock {
  width: 3.2em;
  margin-right: 0;
  right: .6667em;
}

.DayName {
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  text-align:center;
  color: #87a2aa;
  font-size:1.1em;
  vertical-align:center;
}

#searchbar{
  background-color:#D8D8D8;
  padding:6px;
}

#searchbar form{
  display:table;
}


.navbar-brand .navbar-item{
  /*Adds some spacing between the heading and the left edge of the screen*/
  margin-left:35%;
}

.schedline{
  background-color:#E1E1E1;
  margin-top:5px!important;
}

.SchedBlock_container{
  display: block;
  box-sizing: border-box;
  position: absolute;
  overflow-y: hidden;
}

.SchedBlock {
  margin-right:5px;
  margin-left:5px;
  overflow-y: hidden;
  cursor: pointer;
  color: black;
  border-top: 3px solid;
  background-color:#FAFAFA;
  box-shadow:0 1px 3px 0 lightgrey;
  text-align: center;
  height:100%;
  align-items:center;
  display:flex;
  justify-content:center;
}



.block.red{
  border-top-color:#D0021B;
  color:#D0021B;
}

.block.red > div {
  background-color: rgba(207, 2, 29, 0.2);
}


.block.orange{
  border-top-color:#F5A623;
  color:#F5A623;
}
.block.orange > div {
  background-color: rgba(245, 166, 35, 0.2);
}

.block.blue{
  border-top-color:#00BFDD;
  color:#00BFDD;
}

.block.blue > div {
  background-color: rgba(0, 191, 221, 0.21);
}


.block.aqua{
  border-top-color:#35E1BB;
  color:#35E1BB;
}

.block.aqua > div {
  background-color: rgba(53, 225, 187, 0.2);
}


.block.green{
  border-top-color:#7ED321;
  color:#7ED321;
}

.block.green > div {
  background-color: rgba(126, 211, 33, 0.2);
}


.block.pink{
  border-top-color:#FF34CC;
  color:#FF34CC;
}

.block.pink > div {
  background-color: rgba(255, 52, 204, 0.21);
}

.block.sea{
  border-top-color:#3055CC;
  color:#3055CC;
}

.block.sea > div {
  background-color: rgba(48, 85, 204, 0.21);
}

.block.indigo{
  border-top-color:#7874CF;
  color:#7874CF;
}

.block.indigo > div {
  background-color: rgba(120, 116, 207, 0.2);
}

.SchedBlock > span {
  display: block;
}

/* @media all and (max-width: 1050px) { */
.SchedBlock {
  font-size: 1.125em;
}
/* } */

/* @media all and (min-width: 1281px) and (max-width: 1700px) {
	.SchedBlock {
		font-size: 14px;
	}
}
 */
.CloseX, .NeedAssc {
  position: absolute;
  top: 0;
  display: block;
  width: 1.25em;
  height: 1.25em;
  color: black;
  /*filter: alpha(opacity=0);*/
  transition: opacity .15s ease-in-out;
}

.CloseX {
  left: 0;
  opacity: 0;
  text-align: left;
  padding-left: 4%;
  box-sizing: border-box;
}
.NeedAssc {
  right: 0;
}

.CloseX:hover {
  opacity: 1;
}

.LocName {
  font-size: 0.9em;
  line-height: 1em;
  color:grey;
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

.Modal {
  padding: .6em;
  background-color: white;
  color: black;
  width: 65%;
  height: 80%;
  /*border-radius: 5px;*/
  display: none;
  overflow-y: scroll;
}

.Modal a {
  color: black;
  text-decoration: none;
}

.modal-card-body .button, .modal-card-body input{
  display:block;
  margin: 1.5rem auto auto;
}

.Modal h2 {
  font-size:initial!important;
  line-height: 0.5em;
}

.Modal p {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  text-indent: 2em;
  line-height: 1.5em;
}

.Modal span {
  display: block;
  margin-bottom: .5em;
}

.modal_close {
  position: absolute;
  top: .6em;
  left: 1.25em;
  cursor: pointer;
}

.ModalThird {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-top: 3em;
}

#SchedImage {
  width: 100%;
  margin: 1em auto;
}

.logo {
  border-radius: 4px 0 0 4px;
  border: 1px solid #3f94d0;
  position: absolute;
  left: calc(14% - 1.6em);
  top: 4px;
  width: 1.5em;
  height: 1.1em;
  background-color: #3f94d0;
  background-position: 50%;
  background-size: .75em;
  background-image: url(/css/venmo.png);
  background-repeat: no-repeat;
}

.label {
  border-radius: 0 4px 4px 0;
  border: 1px solid #3f94d0;
  border-left: 0;
  position: absolute;
  left: calc(14%);
  top: 4px;
  padding: 0 4px;
  width: 5em;
  height: 1.5em;
  text-align: center;
  font-weight: 400;
  font-size: .75em;
  line-height: 1.5em;
  background: #fff;
  color: #3f94d0;
}

#EmailIcon {
  border-radius: 4px 0 0 4px;
  border: 1px solid black;
  border-right: 0;
  padding: 5px 10px;
  font-size: 1.5em;
}

#EmailLabel {
  border-radius: 4px 0 0 4px;
  border: 1px solid black;
  border-left: 0;
  font-size: 1.5em;
  left: calc(49%);
  padding: 0 4px;
  width: 6.25em;
  height: 1.5em;
  text-align: center;
  position: absolute;
}

.footer{
  position:fixed;
  bottom:-2rem;
  transition:250ms ease bottom;
  left:0;
  right:0;
  padding: 0 0 0.7rem!important;
}

.footer:hover{
  bottom:0;
}

.footer span.arrow_container{
  width:100%;
  text-align:center;
  display:inline-block;
  margin:0;
  padding:0;
}

.modal-content *{
  color:white;
}

.modal header, .modal footer{
  background-color:#3273dc;
}

.modal header *, .modal footer *{
  color:white;
}

img.small{
  width:1.5rem;
  display:inline;
}

.modal-card{
  border-radius:9px;
}

.modal-card-body{
  padding-bottom: 1.5rem;
}

#NotificationModal .modal-card-body *:not(a){
  display:inline-block;
}

#NotificationModal .modal-card-body span{
  margin-top:1rem;
  margin-bottom:1rem;
  max-width:60%;
}

#NotificationModal .modal-card-body img.small{
  display:inline-block;
  max-height:1.5rem;
}

#NotificationModal a{
  display:contents;
}

.modal-background{
  background-color:#707070;
  opacity:0.75;
}

#feedback_button{
  width:3rem;
  height:3rem;
  border-radius:50%!important;
  padding:0;
  background:white;
  position:fixed;
  right: 1rem;
  bottom: 2rem;
  opacity:0.8;
  box-shadow: 0 0 0.7rem rgba(100,100,100,0.6);
}


.level .button {
  font-size: 0.75rem !important;
}