
.classic, .classic *{
    border: 0;
    outline: none;
}

.classic .dropdown-item {
    border-radius: 0!important;
}

.classic .dropdown-item, .classic .dropdown-item * {
    font-size: 0.75rem;
    color: black;
}

.classic .dropdown-item.light-blue {
    color: #63b6ff!important;
}

.classic .dropdown-trigger {
    margin-left: 0.75rem;
    outline: none!important;
    border: none!important;
    background: transparent;
}

.classic .dropdown-trigger button {
    border-radius: 0!important;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0!important;
    outline: none!important;
    border: none!important;
    background: transparent;
    transition: 250ms ease background;
}

.classic .dropdown-trigger button:hover, .classic.is-active .dropdown-trigger button {
    background: #a2b4ed;
}

.classic .button.dropdown-item.is-active {
    background: #e9e9e9;
}

.classic .dropdown-menu {
    margin-top: 0.1rem!important;
}

.classic .dropdown-content {
    padding: 0!important;

}

.classic.dropdown {
    border-radius: 0.5rem;
}

.classic .dropdown-item{
    display: flex;
    flex-direction: row;
}

.schedule-name-container, .schedule-options-container {
    display: flex;
}

.schedule-name-container {
    flex-grow: 1;
    font-weight: 400;
}

.schedule-options-container {
    flex-grow: 0.5;
    justify-content: space-around;
}

.schedule-options-container i {
    color: #CCCCCC!important;
}

.schedule-options-container i:hover {
    color: #aeaeae!important;
}
