.filterContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3em 0em;
    justify-content: flex-start;
    max-width: calc(100% - 17rem);
}

.myDropdown {
    cursor: pointer;
    transition:0.2s all;
    display:flex;
    font-weight: normal;
    font-size: 0.8em;
    flex-direction: row;
    border: 1px solid #c9c9c9 !important;
    margin-left: 1em;
    align-items: center;
    justify-content: space-space-between;
    border-radius: 5px;
    padding: 0.3em 0.7em;
}

.myDropdown div span i{
    font-size: 0.8em;
}

.myDropdown:hover {
    background-color: #ebedff;
}

.filterButton {
    transition-duration: 0.2s;
    margin: auto;
    font-weight: bold;
    border: solid 2px #e1e1e1;
    color: #7e7e7e;
    flex-grow:1
}

.filterButton:hover {
    background-color: #f0f0f0;
    color: #7e7e7e;
}

.filterButton:active {
    border: solid 1px #7b84e6;
    position:relative;
    color: #7e7e7e;
    background-color: #e3e6ff;
}

.filterButton:focus {
    color: #7b84e6;
    border: solid 2px #7b84e6;
}

.filterButtonActive {
    font-weight: bold;
    position:relative;
    background-color: #e3e6ff;
    border: 2px solid #7b84e6;
    color: #7b84e6;
}

.filterButtonActive:hover {
    font-weight: bold;
    position:relative;
    background-color: #e3e6ff;
    border: 2px solid #7b84e6;
    color: #7b84e6;
}

.filterButtonActive:active {
    font-weight: bold;
    position:relative;
    background-color: #e3e6ff;
    border: 2px solid #7b84e6;
    color: #7b84e6;
}

.filterButtonActive:focus {
    font-weight: bold;
    position:relative;
    background-color: #e3e6ff;
    border: 2px solid #7b84e6;
    color: #7b84e6;
}

.dropdown-trigger {
    margin:0.2em;
}

.classic, .classic * {
    border: 0;
    outline: none;
}

.classic .dropdown-item {
    border-radius: 0 !important;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    transition: 100ms ease background;
}

.classic .dropdown-item, .classic .dropdown-item * {
    font-size: 0.75rem;
    color: #4a4a4a;
}

.classic-dropdown-trigger {
    margin-left: 0.75rem;
    cursor: pointer;
    background: transparent;
    transition-duration: 0.2s;
}

/* .classic-dropdown-trigger div {
    border-radius: 0 !important;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
    padding: 0 !important;
    outline: none !important;
    border: none !important;
    background: transparent;
    transition: 150ms ease background;
} */

/* .classic-dropdown-trigger div span i {
    margin-bottom: 0.25rem;
} */

.classic-dropdown-trigger:hover {
    background: rgba(175, 194, 255, 0.27);
}

/* .classic.is-active .classic-dropdown-trigger div {
    background: rgba(162, 180, 237, 0.38);
} */

.classic .dropdown-item.is-active, .add-schedule:active {
    background: #e9e9e9;
}

.classic .dropdown-item.is-active:hover {
    background: #dadada;
}

.classic .dropdown-menu {
    margin-top: 0.1rem !important;
}

.classic .dropdown-item:hover {
    background: #f4f4f4;
}

.classic .dropdown-content {
    padding: 0 !important;

}

.classic.dropdown {
    border-radius: 0.5rem;
    height:100%;
}

.classic .dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule-name-container, .schedule-options-container {
    display: flex;
}

.schedule-name-container {
    flex-grow: 1;
    font-weight: 400;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule-options-container {
    flex-grow: 0.5;
    justify-content: flex-end;
    width: 25%;
}

.schedule-options-container i {
    color: #c0c0c0 !important;
}

.schedule-options-container i:hover {
    color: #aeaeae !important;
}

.is-active i.fa.fa-chevron-down::before {
    content: "\f077" !important;
}

.add-schedule {
    text-align: left;
}

.add-schedule span, .add-schedule span i {
    float: left;
    text-align: left;
    color: #669afb!important;
}
