.filterButton {
    transition-duration: 0.2s;
}

.filterButton:hover {
    background-color: #fbfaff;
}

.filterButton:active {
    box-shadow: 0 0 3px #7b84e6;
    position:relative;
    background-color: #e3e6ff;
}

.filterButton:focus {
    box-shadow: 0 0 3px #7b84e6;
}

.classic, .classic * {
    border: 0;
    outline: none;
}

.classic .dropdown-item {
    border-radius: 0 !important;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    transition: 100ms ease background;
}

.classic .dropdown-item, .classic .dropdown-item * {
    font-size: 0.75rem;
    color: #4a4a4a;
}

.classic-dropdown-trigger {
    margin-left: 0.75rem;
    outline: none !important;
    border: none !important;
    background: transparent;
}

.classic-dropdown-trigger div {
    border-radius: 0 !important;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
    padding: 0 !important;
    outline: none !important;
    border: none !important;
    background: transparent;
    transition: 150ms ease background;
}

.classic-dropdown-trigger div span i {
    margin-bottom: 0.25rem;
}

.classic-dropdown-trigger div:hover {
    background: rgba(175, 194, 255, 0.27);
}

.classic.is-active .classic-dropdown-trigger div {
    background: rgba(162, 180, 237, 0.38);
}

.classic .dropdown-item.is-active, .add-schedule:active {
    background: #e9e9e9;
}

.classic .dropdown-item.is-active:hover {
    background: #dadada;
}

.classic .dropdown-menu {
    margin-top: 0.1rem !important;
}

.classic .dropdown-item:hover {
    background: #f4f4f4;
}

.classic .dropdown-content {
    padding: 0 !important;

}

.classic.dropdown {
    border-radius: 0.5rem;
}

.classic .dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule-name-container, .schedule-options-container {
    display: flex;
}

.schedule-name-container {
    flex-grow: 1;
    font-weight: 400;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule-options-container {
    flex-grow: 0.5;
    justify-content: flex-end;
    width: 25%;
}

.schedule-options-container i {
    color: #c0c0c0 !important;
}

.schedule-options-container i:hover {
    color: #aeaeae !important;
}

.is-active i.fa.fa-chevron-down::before {
    content: "\f077" !important;
}

.add-schedule {
    text-align: left;
}

.add-schedule span, .add-schedule span i {
    float: left;
    text-align: left;
    color: #669afb!important;
}
