.main:first-child {
    padding-left: 2em;
}

.main:last-child {
    padding-right: 2em;
}

.body {
    overflow: hidden;
}



.header {
    color: #a0a0a0;
    padding-left: 0;
    font-weight: bold;
}

.hover-switch .fa-check {
    color: #3daa6d;
}

.hover-switch:hover .fa-check,
.hover-switch .fa-times {
    display: none;
}

.hover-switch:hover .fa-times {
    display: inline;
}

.fa, .fas, .far .grey-text {
    color: #c6c6c6;
}

.back-button {
    border-color: transparent;
}

.segment {
    border-bottom: solid gray 1px;
}

.scroll-container {
  /*height: 100%;*/
  box-sizing: border-box;
  border-radius: .375em;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.scrollable::-webkit-scrollbar { width: 0 !important }
.scrollable {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table.is-scrollable tbody {
  overflow-y: scroll;
  width: auto;
  position: absolute;
}

.course-info {
    margin: ".5em 2em .5em 2em";
    max-height: "40%";
}

.course-details li {
    margin-bottom: .25em;
}

.course-list {
    font-size: .7em;
}

.section-details-title {
    margin-bottom: 0 !important;
    font-weight: normal;
}

.taglist {
    overflow: hidden;
    display: inline-block;
}

.tag, .taglist * {
    user-select: none;
}

.tag {
    transition: 200ms ease background;
    margin-bottom: 0.35rem;
    margin-right: 0.35rem;
    cursor: pointer;
}

.tag.is-adder:hover {
    background: #9fa4a6;
}

.tag.is-adder:active {
    background: #777b7c;
}

.pcr-svg {
    border: 2px solid #EEEEEE;
    border-radius: 4px;
}

.pcr-svg:hover {
    border: 2px solid #CBCBCB;
    border-radius: 4px;
}

.section-details-title b {
    font-weight: bold;
}

.section-row {
    display: grid;
    grid-template-columns: 2em 3em 3em 3em 1fr;
    text-align: center;
    height: 2em;
    padding-top: .3em;
    padding-bottom: .3em;
    color: #363636;
}

.section-row-selected,
.section-row-selected:hover {
    color: #6975f4;
    font-weight: bold;
}

.selector-row:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

.badges-list li {
    margin-bottom: .5em;
}
