version: 2.1
orbs:
  docker: circleci/docker@0.5.19
  django-tools: pennlabs/django-tools@0.0.2
  helm-tools: pennlabs/helm-tools@0.1.9
  react-tools: pennlabs/react-tools@0.0.5

branch-filters: &branch-filters
  filters:
    branches:
      only:
        - master

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - django-tools/check:
          project-name: "PennCourses"
          project-location: backend
      - react-tools/check:
          name: check-alert
          project-location: frontend/alert
      - react-tools/check:
          name: check-plan
          project-location: frontend/plan
      - docker/publish:
          name: publish-backend
          requires:
            - django-tools/check
          path: backend
          cache_from: "pennlabs/penn-courses-backend:latest"
          image: "pennlabs/penn-courses-backend"
          tag: "${CIRCLE_SHA1},latest"
          context: docker-publish
          <<: *branch-filters
      - docker/publish:
          name: publish-plan
          requires:
            - check-plan
          path: frontend/plan
          cache_from: "pennlabs/pcp-frontend:latest"
          image: "pennlabs/pcp-frontend"
          tag: "${CIRCLE_SHA1},latest"
          context: docker-publish
          <<: *branch-filters
      - docker/publish:
          name: publish-alert
          requires:
            - check-alert
          path: frontend/alert
          cache_from: "pennlabs/pca-frontend:latest"
          image: "pennlabs/pca-frontend"
          tag: "${CIRCLE_SHA1},latest"
          context: docker-publish
          <<: *branch-filters
      - helm-tools/deploy:
          requires:
            - publish-backend
            - publish-plan
            - publish-alert
          context: k8s-deploy
          <<: *branch-filters
