version: 2.1
orbs:
  docker: circleci/docker@0.5.19
  django-tools: pennlabs/django-tools@0.0.1
  helm-tools: pennlabs/helm-tools@0.1.7

branch-filters: &branch-filters
  filters:
    branches:
      only:
        - master
jobs:
  pcp-lint:
    working_directory: ~/pennlabs
      docker:
        - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "frontend/plan/package-lock.json" }}
      - run:
          name: Install dependencies
          command: |
            cd frontend/plan && npm install
      - save_cache:
          key: dependency-cache-{{ checksum "frontend/plan/package-lock.json" }}
          paths:
            - frontend/plan/node_modules
      - run:
          name: Lint
          command: |
            cd frontend/plan && npm run lint

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - django-tools/check:
          project-name: "PennCourses"
      - docker/publish:
          name: publish-backend
          requires:
            - django-tools/check
          cache_from: "pennlabs/penn-courses-backend:latest"
          image: "pennlabs/penn-courses-backend"
          tag: "${CIRCLE_SHA1},latest"
          context: docker-publish
          <<: *branch-filters
      - pcp-lint
      - docker/publish:
          name: publish-plan
          requires:
            - pcp-lint
          path: frontend/plan
          cache_from: "pennlabs/penn-course-plan:latest"
          image: "pennlabs/penn-course-plan"
          tag: "${CIRCLE_SHA1},latest"
          context: docker-publish
          <<: *branch-filters
      - helm-tools/deploy:
          requires:
            - publish-backend
            - publish-plan
          context: k8s-deploy
          <<: *branch-filters
