.contained p {
    font-size: 0.7rem;
    text-align: left;
}

@media all and (max-width: 480px){
  .contained {
      font-size: 1rem;
  }
  .contained p{
      font-size: 0.8rem;
  }
  #schoolreq {
      min-width: 25rem !important;
  }
}

.reqBorder {
    border-right: 1px solid #C1C1C1;
}

.bar {
    margin: 1rem 1.5rem;
    padding: 0.25rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 lightgrey;
    height: 3rem;
    width: inherit;
}

.contained {
    padding-top: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.is-divider-vertical {
    padding: 0.5rem;
}

.dropdown-menu {
    margin-top: 0.7rem;
}

.rating-box {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.6rem;
}

.rating-btn {
    margin-top: -0.7rem;
}


#searchdiv {
    padding-left: 2rem;
}

#filterdiv {
    padding-left: 1rem;
}

.icon {
    pointer-events: none;
}

.control label {
    font-size: 0.75rem;
}

#filterdiv > * {
    padding-right: .5rem;
}

#searchbar {
    min-width: 17rem;
    background-color: #f4f4f4;
}

#schoolreq {
    min-width: 27rem;
}

#user-selector {
    color: white;
    background: #c8cbed;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border-radius: 1.25rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    transition: 150ms ease background;
    margin-right: 0.85rem;
}

#user-selector:hover {
    background: #9399DB;
}

#user-selector.user-selector-selected {
    background: #6B73D0;
}

#logout-dropdown-inner-menu {
    background: white;
    color: #4a4a4a;
    border-radius: 4px;
    position: relative;
    padding: 0.32rem;
    font-size: 0.85rem;
    box-shadow: 0 0 5px 0 lightgrey;
}

#logout-dropdown-inner-menu:not(.on-left) {
    right: 61%;
}

#logout-dropdown-inner-menu .name-container{
    font-weight: bold;
    font-size: 1.25rem;
}

#logout-dropdown-inner-menu .email-container{
    font-size: 0.8rem;
    color: #828282;
}

#logout-dropdown-inner-menu p, #logout-button {
    margin: 0.5rem;
}

#logout-button {
    cursor: pointer;
    background: white;
    transition: 200ms ease background;
}

#logout-button:hover {
    background: rgb(245, 245, 245);
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
    position: relative;
    left: 11%;
    transition: 200ms ease border;
    z-index: 5;
}

.logout.dropdown-menu {
    min-width: 7rem !important;
    margin-top: 0;
}

#logout-dropdown-menu-container {
    min-width: 7rem !important;
    vertical-align: center;
}

#logout-icon-container {
    height: 100%;
    float: right;
    margin-right: 0.45rem;
}

.button.login {
    font-size: 0.85rem !important;
    padding: 0 1rem 0 1rem;
    margin-right: 1rem;
}
