.contained p {
    font-size: 0.7rem;
    text-align: left;
}

.bar {
    margin-top: 1rem;
    margin-left: none;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 4px;
    box-shadow:0 1px 3px 0 lightgrey;
    height: 3rem;
    width: inherit;
}

.contained {
    padding-top: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.is-divider-vertical {
    padding: 0.5rem;
}

.dropdown-menu {
    margin-top: 0.7rem;
}

.rating-box {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.6rem;
}

.rating-btn {
    margin-top: -0.7rem;
}


#searchdiv {
    padding-left: 2rem;
}

#filterdiv {
    padding-left: 4rem;
}

.icon {
    pointer-events: none;
}

.control label {
    font-size: 0.75rem;
}

#filterdiv > * {
    padding-right: 1rem;
}

#searchbar {
    min-width: 17rem;
    background-color: #f4f4f4;
}

#schoolreq {
    min-width: 27rem;
}
