deploy_version: 0.1.12
applications:
  - name: redis
    image: redis
    tag: "4.0"
    port: 6379
  - name: celery
    image: pennlabs/penn-courses-backend
    secret: penn-courses
    cmd: ["celery", "worker", "-A", "PennCourses", "-Q", "alerts,celery", "-linfo"]
    extraEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: PennCourses.settings.production
  - name: beat
    image: pennlabs/penn-courses-backend
    secret: penn-courses
    cmd: ["celery", "-A", "PennCourses", "beat", "-l", "info", "--scheduler", "django_celery_beat.schedulers:DatabaseScheduler"]
    extraEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: PennCourses.settings.production
  - name: backend
    image: pennlabs/penn-courses-backend
    secret: penn-courses
    ingress:
      hosts:
        - host: penncourseplan.com
          paths: ["/api", "/admin", "/accounts", "/assets"]
        - host: penncoursealert.com
          paths: ["/api", "/admin", "/accounts", "/assets", "/webhook"]
    extraEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: PennCourses.settings.production
  - name: plan
    image: pennlabs/pcp-frontend
    ingress:
      hosts:
        - host: penncourseplan.com
          paths: ["/"]
  # - name: alert
  #   image: pennlabs/penn-courses-backend
  #   secret: penn-courses
  #   ingress:
  #     hosts:
  #       - host: penncoursealert.com
  #         paths: ["/"]
  #   extraEnv:
  #     - name: ROOT_URLCONF
  #       value: PennCourses.urls.pca
  #     - name: DJANGO_SETTINGS_MODULE
  #       value: PennCourses.settings.production
  - name: alert-react
    image: pennlabs/pca-frontend
    ingress:
      hosts:
        - host: penncoursealert.com
          paths: ["/"]
# cronjobs:
#   - name: send_alerts
#     schedule: "*/5 * * * *"
#     secret: penn-courses
#     image: pennlabs/penn-courses-backend
#     cmd: ["./manage.py", "webhookbackup"]
