:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: #575757;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* blue */
  --primary-color-ultra-dark: #3D4177;
  --primary-color-xxx-dark: #6C72B6;
  --primary-color-xx-dark: #819AE1;
  --primary-color-extra-dark: #9AA7C6;
  --primary-color-dark: #C5D2F6;
  --primary-color: #E3E8F4;
  --primary-color-light: #EAEFFB;  /* Semi-transparent */
  --primary-color-extra-light: #EDF1FCAA; /* Semi-transparent */
  --background-white: #F7F9FC;
  --background-blue-grey:#F7F9FC;
  --background-light-grey: #F8F8F8;
  --background-grey: #f3f3f3;

  /* Edit mode */
  --plus-button-color: #9FB5EF;
  --modal-button-color: #819AE1;
  --modal-title-color: #575757;
  --modal-text-color: #4A4A4A;

  /* DnD */
  --selected-color: #967BB6;

  /* Requirement */
  --req-item-radius: 5px;
  --green-color: #5EA872;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  font-size: 14px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}
*/
input, select, textarea, button { 
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.tag {
  padding-left: 5px;
  padding-right: 5px;
}

.is-rounded {
  border-radius: 15px;
}

.draggable {
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}

.droppable {
  box-shadow: 0 0 50px;
  transition: 0.3s var(--primary-color-dark);

}

.icon-crossed-out:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 141.421356%;
    top: -20.710678%;
    display: block;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}

/* Animation */

@keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.jump {
  -webkit-animation-name: jump;
  animation-name: jump;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 1;
}

/** Icons */

.spring-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M4.822 1.112a3.08 3.08 0 0 1 5.256 2.08a3.07 3.07 0 0 1 3.767 1.992l-.475.156l.475-.155a3.052 3.052 0 0 1-1.86 3.813a3.04 3.04 0 0 1-.753 4.168a3.09 3.09 0 0 1-4.227-.581a3.09 3.09 0 0 1-5.043-.291A3.04 3.04 0 0 1 2.022 9a3.062 3.062 0 0 1 1.9-5.817a3.08 3.08 0 0 1 .9-2.07ZM9.205 7.26c0 1.21-.987 2.19-2.205 2.19a2.198 2.198 0 0 1-2.205-2.19c0-1.21.987-2.19 2.205-2.19s2.205.98 2.205 2.19' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  color: #F394A5;
}

.mingcute--maple-leaf-fill {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M11.553 3.106a1 1 0 0 1 .894 0c.71.354 1.58 1.18 2.267 2.237c.42.647.798 1.42 1.033 2.289c.723-.448 1.507-.77 2.437-1.08a1 1 0 0 1 1.297.752c.257 1.285.412 2.558.191 3.807a6.143 6.143 0 0 1-.833 2.184a7.517 7.517 0 0 1 1.716.873a1 1 0 0 1 .374 1.203c-.29.724-1.022 1.504-2.37 2.155c-1.215.587-2.99 1.099-5.563 1.383A.91.91 0 0 1 13 19v2a1 1 0 1 1-2 0v-2c0-.03.002-.061.004-.091c-2.574-.284-4.348-.796-5.564-1.383c-1.347-.651-2.079-1.43-2.368-2.155a1 1 0 0 1 .373-1.203a7.516 7.516 0 0 1 1.716-.873a6.148 6.148 0 0 1-.833-2.184c-.22-1.25-.065-2.522.192-3.807a1 1 0 0 1 1.296-.753c.93.31 1.715.633 2.437 1.08a8.154 8.154 0 0 1 1.033-2.288c.687-1.057 1.558-1.883 2.267-2.237M13 16.895V14a1 1 0 1 0-2 0v2.895c.318.038.65.071 1 .101c.35-.03.683-.063 1-.101'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  color: #F8B06E;
}

.emojione-v1--fallen-leaf {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F8B06E;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23c37f2a' d='M18.95 19.443c.018-.873.032-1.74.067-2.619c.235-5.346-.795-10.364.594-15.985c.365-1.475-3.404-.841-3.773.632c-1.383 5.623-.536 10.715-.61 16.02a417.708 417.708 0 0 0-.03 3.149l3.752-1.199'/%3E%3Cpath fill='%23fbb042' d='M34.09 58.04c-3.522-8.693-.598-17.751.277-26.851c.472-4.939.576-8.616-2.914-12.458c-3.113-3.432-8.525-2.938-12.467-7.602c-.564-.666-1.521-1.236-2.159-.847c-.717-.269-1.561.512-2.117 1.306c-3.656 5.209-6.51 10.962-9.444 16.468c-2.647 4.975-4.188 9.962-2.659 15.16c1.487 5.05 5.75 9.02 10.988 11.297c2.82 1.22 5.962 1.738 9.109 2.116c3.508.427 5.945 2.217 9.111 3.297c1.129.383 2.686-.869 2.275-1.882'/%3E%3Cg fill='%23e19630'%3E%3Cpath d='M34.15 58.02a22.674 22.674 0 0 1-1.343-4.827c-1.12-.442-2.302-.806-3.635-.965c-3.146-.383-6.292-.901-9.107-2.121c-5.242-2.268-9.505-6.25-10.99-11.297c-1.525-5.199.013-10.181 2.66-15.15c2.26-4.25 4.477-8.643 7.05-12.82c-.568-.534-1.352-.909-1.899-.576c-.716-.269-1.561.512-2.119 1.31c-3.66 5.21-6.512 10.954-9.444 16.464c-2.649 4.975-4.186 9.961-2.659 15.16c1.487 5.05 5.748 9.03 10.986 11.297c2.82 1.22 5.959 1.738 9.112 2.121c3.506.423 5.944 2.216 9.111 3.288c1.127.386 2.686-.865 2.275-1.877'/%3E%3Cpath d='M33.982 57.952c-4.748-5.757-9.04-11.729-11.808-18.354c1.076-1.873 2.547-4.668 4.835-4.281c.475.08 1 .044 1.429-.199c.321-.184.323-.506-.08-.574c-1.74-.295-3.582-.075-5.01 1.049c-.766.602-1.375 1.343-1.921 2.133c-.808-2.217-1.455-4.505-1.858-6.893c.821-1.172 2.936-3.572 4.347-2.416c.48.395 2.288-.188 1.919-.491c-2.01-1.642-4.628-.526-6.532 1.104c-.652-4.846-.789-9.735-.699-14.722a71.38 71.38 0 0 0-.056-3.847c-.847-.014-1.692-.004-2.541.092c-.062.004-.12-.03-.184-.03c.048 1.292.098 2.585.102 3.88c.02 5.399.056 10.689.793 15.954c-2.595-.434-5.792.191-6.992 2.563c-.249.49 1.705.482 1.979-.06c.915-1.806 3.171-2.133 4.927-1.431c.08.032.174.02.257.04c.479 2.906 1.304 5.669 2.36 8.335c-.909.176-1.754.582-2.417 1.332c-1.077 1.216-1.553 2.886-2 4.413c-.181.602 1.818.486 1.979-.061c.287-.98.594-1.945 1.026-2.874c.281-.613.937-1.905 1.738-2.057c2.864 6.853 7.343 13.03 12.248 18.975c.869 1.051 3.02-.54 2.161-1.58'/%3E%3C/g%3E%3Cpath fill='%23b18459' d='M47.916 35.8c-.014-.609-.021-1.212-.048-1.825c-.163-3.731.554-7.231-.413-11.151c-.255-1.029 2.374-.582 2.631.442c.965 3.919.375 7.471.427 11.174l.021 2.192z'/%3E%3Cpath fill='%23e1ab69' d='M37.36 62.715c2.455-6.06.416-12.377-.191-18.723c-.331-3.444-.402-6.01 2.029-8.69c2.172-2.392 5.949-2.045 8.697-5.302c.389-.462 1.059-.857 1.503-.586c.499-.188 1.089.354 1.474.909c2.553 3.635 4.546 7.646 6.591 11.485c1.844 3.468 2.918 6.947 1.852 10.567c-1.034 3.52-4.01 6.294-7.661 7.877c-1.966.853-4.156 1.212-6.356 1.479c-2.441.299-4.142 1.547-6.349 2.301c-.79.262-1.874-.611-1.589-1.317'/%3E%3Cg fill='%23d09d66'%3E%3Cpath d='M37.32 62.699c.454-1.12.753-2.24.938-3.368c.779-.307 1.604-.559 2.533-.674c2.194-.267 4.39-.626 6.354-1.479c3.651-1.583 6.623-4.357 7.662-7.877c1.063-3.624-.009-7.1-1.856-10.568c-1.576-2.961-3.121-6.03-4.917-8.941c.395-.371.939-.634 1.326-.398c.498-.188 1.086.359 1.477.913c2.551 3.632 4.54 7.638 6.585 11.48c1.846 3.469 2.918 6.944 1.854 10.567c-1.036 3.521-4.01 6.299-7.661 7.882c-1.966.849-4.156 1.211-6.354 1.479c-2.445.295-4.146 1.543-6.355 2.292c-.787.271-1.871-.606-1.586-1.308'/%3E%3Cpath d='M51.23 42.729c-.486-.208-1.042-.279-1.559-.375c-.025-.004-.052-.028-.076-.036c.377-3.312.411-6.641.421-10.03c.006-.905.036-1.806.072-2.703c-.042 0-.082.024-.128.016a13.95 13.95 0 0 0-1.77-.06a46.824 46.824 0 0 0-.04 2.679c.054 2.958-.004 5.864-.297 8.742c-.168-.171-.325-.335-.465-.454c-2.326-1.993-5.076-1.778-7.538-.188c-.902.586 1.072.653 1.509.371c3.038-1.962 4.254.864 6.259 2.137c-.028.207-.046.41-.076.617c-.474 3.02-1.482 5.828-2.816 8.491c-1.728-1.559-3.845-2.145-6.04-.542c-.563.414 1.369.478 1.802.163c1.17-.854 2.755 1.16 3.4 1.997c-1.796 3.189-4.052 6.183-6.46 9.101c-.596.726.903 1.834 1.507 1.108c2.709-3.285 5.229-6.673 7.166-10.305c1.247-.55 2.439-.391 3.609.216c.482.251 2.361-.308 1.692-.654c-1.463-.753-3.138-.948-4.73-.657c1.304-2.667 2.284-5.47 2.739-8.487c.025-.155.033-.314.058-.471c1.291.387 2.087 1.272 2.629 2.516c.265.61 2.204.136 2.02-.283c-.627-1.444-1.434-2.289-2.888-2.906'/%3E%3C/g%3E%3C/svg%3E");
}

.fall-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: #F8B06E;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23ed6c30' d='M123.69 58.49c.77-1.44 7.24-12.78 2.45-13.48c-9.11-1.34-18.98-.12-27.47 3.75c-.32-6.09-1.4-12.14-2.88-18.04c-1.64-6.57-3.5-13.17-6.87-19.09c-1.1-1.93-2.66-4.8-4.97-5.49c-1.64-.48-3.65 1.45-4.7 2.58c-1.59 1.69-3.05 3.56-4.37 5.52c-2.73 4.06-4.97 8.75-6.56 13.54c-.75 2.25-1.26 4.55-1.67 6.88a65.15 65.15 0 0 0-13.58-12.77C45.33 16.48 36.3 11.04 27.15 8.45c-1.58-.45-2.8-.53-3.75-.33c-2.79.62-3.15 3.87-3.14 8.06c.06 15.98 4.31 33.09 14.4 45.75c-1.69-.07-3.36-.11-5-.11c-5.62.01-11.29.04-16.84 1.07C9.71 63.47.15 65.25.1 69.71c-.03 2.41 2.25 4.75 3.77 6.37c4.67 4.96 10.42 8.68 16.21 12.19c4.84 2.93 9.88 5.58 15.15 7.63c-5.77 6.46-9.77 14.67-11.49 23.02c-.97 4.74 11.89 2.54 13.51 2.31c7.25-1.01 14.62-2.26 21.19-5.66c2.38-1.23 4.88-2.83 7.28-4.73c.38 3 1.03 5.85 1.98 8.26c.78 2 5.03-1.92 5.58-2.4c5.96-5.17 10.13-12.53 11-20.38c.01-.07.01-.13.01-.2c1.15.41 2.33.7 3.48.81c7.87.75 15.92-1.82 22.2-6.59c.58-.44 5.28-3.79 3.49-4.97c-2.45-1.61-5.51-2.94-8.81-3.99c2.4-1.53 4.6-3.23 6.44-4.93c5.46-4.99 9.17-11.49 12.6-17.96'/%3E%3Cg fill='%23f79329'%3E%3Cpath d='M70.8 112.16s3.89-9.57 11.77-15.89c7.01-5.64 17.86-8.08 21.52-8.52c0 0-8.83.32-18.96 4.35c0 0 10.09-29 35.72-40.69c0 0-21.78 4.57-37.48 38.53c0 0-7.86-21.23 0-69.13c0 0-9.14 41.81-2.16 69.46c0 0-18.98-11.47-53.21-74c0 0 23.61 52.16 50.2 75.39c0 0-25.28-12.05-64.84-18.79c43.75 12.33 48.5 15.49 63.92 20.99c0 0-28.68 4.81-45.34 21.79c0 0 25.51-17.2 46.33-19.12c.01 0-5.79 6.63-7.47 15.63'/%3E%3Cpath d='M31.94 116.29c-.19 0-.37-.08-.5-.23a.644.644 0 0 1 .04-.86c13.88-14.15 36.27-19.96 43.41-21.52c-2.66-.97-5.02-1.87-7.49-2.82c-10.16-3.89-20.67-7.91-54.22-17.37a.64.64 0 0 1-.46-.75c.08-.33.39-.55.74-.49c30.76 5.24 53.12 13.79 61.44 17.28c-25.22-24.15-47.27-72.49-47.5-72.99a.648.648 0 0 1 .3-.84c.3-.15.68-.04.85.27c28.61 52.27 46.7 68.88 51.62 72.76c-6.16-27.47 2.47-67.65 2.56-68.06c.08-.34.41-.58.75-.49c.34.07.57.39.51.73c-6.56 40.03-2.05 61.55-.5 67.26c15.61-32.5 37-37.34 37.22-37.39c.35-.05.64.12.74.43c.11.31-.04.65-.34.78c-21.97 10.02-32.53 33.21-34.88 39c9.56-3.53 17.74-3.87 17.82-3.88h.03c.33 0 .62.25.64.59c.03.35-.22.65-.56.69c-3.28.39-14.23 2.77-21.2 8.38c-7.65 6.14-11.54 15.54-11.58 15.64c-.12.3-.46.46-.78.38a.656.656 0 0 1-.45-.74c1.29-6.9 4.9-12.37 6.65-14.71c-20.13 2.54-44.27 18.68-44.52 18.85a.62.62 0 0 1-.34.1M27.62 76.3c22.79 6.68 31.64 10.07 40.24 13.36c3.11 1.2 6.06 2.32 9.63 3.59c.27.1.45.37.42.66c-.02.29-.24.53-.53.58c-.25.04-22.95 3.97-39.42 16.69c8.96-5.23 25.79-13.96 40.25-15.29c.24-.05.51.11.63.35c.12.23.08.51-.09.71c-.04.05-3.12 3.62-5.39 8.98c1.98-3.17 4.9-7.04 8.8-10.17c2.49-2.01 5.44-3.61 8.38-4.86c-1.66.5-3.41 1.09-5.19 1.79c-.22.1-.49.04-.68-.13a.643.643 0 0 1-.16-.67c.08-.24 6.8-19.08 22.73-32.54c-7.16 5.49-15.93 14.91-23.3 30.85c-.11.24-.34.37-.6.38a.636.636 0 0 1-.58-.42c-.06-.14-3.27-9.16-3.5-28.21c-.2 9.66.4 19.62 2.55 28.16c.07.25-.03.51-.24.68c-.21.15-.49.17-.71.03c-.67-.4-14.67-9.21-40.22-51.26c9.4 16.87 23.28 38.8 37.96 51.63c.24.21.29.57.12.84c-.18.26-.52.36-.81.22c-.2-.11-19.52-9.21-50.29-15.95'/%3E%3C/g%3E%3Cpath fill='%23f79329' d='M112.48 117.96c1.41-2.13 1.86-8.57-.17-7.85c-2.33.83-4.81.11-7.13-.42c-2.55-.58-5.1-1.29-7.47-2.43c-1.53-.74-2.99-1.6-4.33-2.65c-4.24-3.34-7.23-6.78-9.81-13.87l-.3-.81l-4.46 3.33l.16.44c.18.5 3.14 11.4 14.16 17.61c2.3 1.3 4.77 2.29 7.26 3.14c3.32 1.13 7.83 1.46 10.53 3.91c.59.51 1.12.26 1.56-.4'/%3E%3C/svg%3E");
}

.summer-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23ffac33' d='M16 2s0-2 2-2s2 2 2 2v2s0 2-2 2s-2-2-2-2zm18 14s2 0 2 2s-2 2-2 2h-2s-2 0-2-2s2-2 2-2zM4 16s2 0 2 2s-2 2-2 2H2s-2 0-2-2s2-2 2-2zm5.121-8.707s1.414 1.414 0 2.828s-2.828 0-2.828 0L4.878 8.708s-1.414-1.414 0-2.829c1.415-1.414 2.829 0 2.829 0zm21 21s1.414 1.414 0 2.828s-2.828 0-2.828 0l-1.414-1.414s-1.414-1.414 0-2.828s2.828 0 2.828 0zm-.413-18.172s-1.414 1.414-2.828 0s0-2.828 0-2.828l1.414-1.414s1.414-1.414 2.828 0s0 2.828 0 2.828zm-21 21s-1.414 1.414-2.828 0s0-2.828 0-2.828l1.414-1.414s1.414-1.414 2.828 0s0 2.828 0 2.828zM16 32s0-2 2-2s2 2 2 2v2s0 2-2 2s-2-2-2-2z'/%3E%3Ccircle cx='18' cy='18' r='10' fill='%23ffac33'/%3E%3C/svg%3E");
}
