.actionbutton > * {
    display: block;
    margin: 0.1rem;
}

.status > * {
    display: block;
    margin: 0.2rem;
}

.search > * {
    display: block;
    margin: 0.1rem;
}

.alertmodifiers > * {
    display: block;
}
