.filterButton {
    transition-duration: 0.2s;
    margin: auto;
    font-weight: bold;
    border: solid 0.1rem #dadada;
    color: #7e7e7e;
    flex-grow: 1;
}

.filterButton:hover {
    background-color: #f7f7f7;
    color: #5a5a5a;
}

.filterButton:active {
    border: solid 0.1rem #7876f3;
    position: relative;
    color: #7e7e7e;
    background-color: #e3e6ff;
}

.filterButton:focus {
    color: #7876f3;
    border: solid 0.1rem #7876f3;
}

.filterButtonActive {
    font-weight: bold;
    position: relative;
    background-color: #ebebfd;
    border: 0.1rem solid #7876f3;
    color: #7876f3;
}

.filterButtonActive:hover {
    font-weight: bold;
    position: relative;
    background-color: #e3e6ff;
    border: 0.1rem solid #7876f3;
    color: #7876f3;
}

.filterButtonActive:active {
    font-weight: bold;
    position: relative;
    background-color: #e3e6ff;
    border: 0.1rem solid #7876f3;
    color: #7876f3;
}

.filterButtonActive:focus {
    font-weight: bold;
    position: relative;
    background-color: #ebebfd;
    border: 0.1rem solid #7876f3;
    color: #7876f3;
}

.dropdown-trigger {
    margin: 0.2em;
}
