.schedule {
    display: grid;
    height: calc(100% - 10em);
    margin-bottom: 5px;
    margin-right: 20px;
    column-gap: 0;
    position: relative;

    background-color: white;
    font-family: "Inter";
}
.block {
    /*border-radius: 5px;*/
    margin-bottom: 0 !important;
    color: black;
    border-left: 4px solid;

    background-color: #fafafa;
    box-shadow: 0 1px 3px 0 lightgrey;
    /* padding: 10px; */
}

.day {
    font-weight: 500;
    font-size: 1em;
    color: #84878f;
}

.time {
    position: absolute;
    top: -9px;
    color: #84878f;
    font-size: 0.8rem;
    font-weight: 500;
}

@media only screen and (max-width: 480px) {
    .schedule {
        height: 100%;
        max-height: 500px;
        font-size: 12px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .time {
        position: absolute;
        white-space: nowrap;
        top: -9px;
        left: -15px;
    }
}

@media only screen and (min-width: 480px) and (max-height: 600px) {
    .schedule {
        height: 100%;
    }
}
